<script type="text/javascript" src="https://payhip.com/payhip.js"></script>
<h3>Get Complete Step-by-Step Solutions</h3>
<a href="https://payhip.com/b/2MVru"><img class="cover" src="cover-small.png" width="180px"></a>

<ul>
    <li>For all exercises in this book.</li>
    <li>Check your work or get unstuck.</li>
    <li>Written by CalculusMadeEasy.org</li>
	<li>Support this website ❤️.</li>
	<li>229 pages</li>
    <li><a href="https://payhip.com/b/2MVru">More details</a></li>
    <br>
        <a href="https://payhip.com/b/2MVru" class="payhip-buy-button" data-theme="green" data-product="2MVru">Download for $9</a>
</ul>